{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="d-block p-2 mb-2 bg-dark text-white">Add Car Listing</div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {%for message in messages%}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {%endfor%}
            {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('add_car')}}" class="needs-validation" novalidate>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="category" id="category" required>
                        <option value="" selected disabled>Select a category</option>
                        {% for category in categories %}
                            {% if category.id == car.category %}
                            <option value="{{ category.id }}" selected>{{ category.name }}</option>
                            {% else %}
                                <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Brand</label>
                    <select class="form-control" name="brand" id="brand" required>
                        <option value="" selected disabled>Select a brand</option>
                        {% for brand in brands %}
                            {% if brand.id == car.brand %}
                            <option value="{{ brand.id }}" selected>{{ brand.name }}</option>
                            {% else %}
                            <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" name="model"
                           id="model" aria-describedby="modelHelp"
                           placeholder="Ex: Boxster S 2011"
                           value="{{ car.model }}" required>
                    <small id="modelHelp" class="form-text text-muted">Model name should be unique on your listings.</small>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description"
                           id="description" aria-describedby="descriptionHelp"
                           placeholder="Ex: Black, 30K miles, Manual Transmission"
                           value="{{ car.description }}" required>
                    <small id="descriptionHelp" class="form-text text-muted">Add comma separated items.</small>
                </div>
                <div class="form-group">
                    <label for="description">Price</label>
                    <input type="text" class="form-control" name="price"
                           id="price" aria-describedby="priceHelp"
                           placeholder="Ex: $10,000"
                           value="{{ car.price }}" required>
                    <small id="descriptionHelp" class="form-text text-muted">Use comma for thousands separator.</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="{{ request.referrer or url_for('home') }}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
    <script>
        (function() {
              'use strict';
              window.addEventListener('load', function() {
                  let forms = document.getElementsByClassName('needs-validation');
                  let validation = Array.prototype.filter.call(forms, function(form) {
                      form.addEventListener('submit', function(event) {
                          if (form.checkValidity() === false) {
                              event.preventDefault();
                              event.stopPropagation();
                          }
                          form.classList.add('was-validated');
                      },false);
                  });
              }, false);
        })();
    </script>
{% endblock %}