{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="d-block p-2 mb-2 bg-dark text-white text-center">Delete Listing</div>
            <form method="POST" action="{{ url_for('delete_car', car_id=car.id)}}">
                <div class="alert alert-warning" role="alert">
                    Confirm you want to delete the listing: "{{ car.model }}"
                </div>
                <button type="submit" class="btn btn-danger">Delete</button>
                <a href="{{ request.referrer or url_for('home') }}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}