{% extends "layout.html" %}
{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {%for message in messages%}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {%endfor%}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-12">
            <div class="d-block p-2 mb-2 bg-dark text-white">{{car.model}}</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <span>Brand:</span> {{car.brand.name}}<br>
                        <span>Price:</span> {{car.price}}<br>
                        <span>Category:</span> {{car.category.name}}<br>
                        <span>Contact:</span> {{car.user.email}}
                    </div>
                    <hr>
                    <div>
                        {{ car.description }}
                    </div>
                    <a href="{{ url_for('delete_car', car_id=car.id) }}"
                       class="btn btn-sm btn-outline-danger float-right ml-2">Delete</a>
                    <a href="{{ url_for('edit_car', car_id=car.id) }}"
                    class="btn btn-sm btn-outline-primary float-right">Edit</a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}